@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alumni+Sans+Inline+One&family=Montserrat:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

/* seccion header y barra navegacion */

header{
    height: 70px;
    width: 100%;
    background-color: #06102D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoNavegacion{
    margin-left: 20px;
}

header div button{
    margin-right: 20px;
}

.navB{
    display: flex;
    gap: 50px;
}

.navB li a{
    color: white;
    font-family: "Montserrat", sans-serif;
}

.navB li a:hover{
    color: #2963DA;
}

.botonIniciarSesion{
    background-color: #2963DA;
    padding: 8px 25px;
    border: none;
    border-radius: .25rem;
    margin: 0px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

.botonIniciarSesion:hover{
    background-color: #6e95e2;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

/* fuentes generales */

h1{
    color: white;
    text-align: center;
    font-family: "Alfa Slab One", serif;
    font-size: 4.0625rem;
    font-weight: 200;
}

h2{
    color: white;
    font-family: "Alfa Slab One", serif;
}

p{
    color: white;
    font-family: "Montserrat", sans-serif;
}

/* index.html */

.textoInicio{
    text-align: center;
    margin: 80px 70px;
}

.textoInicio h1{
    margin: 50px 100px 70px 100px;
}

.parrafoInicio{
    font-size: 25px;
    margin: 0px 120px 70px 120px;
    line-height: 2;
}

.botonRegistrate{
    background-color: #2963DA;
    padding: 10px 50px;
    border: none;
    border-radius: 4px;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.botonRegistrate:hover{
    background-color: #6e95e2;
}

.sectionInicio{
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    align-items: center;
}

.sectionInicio h2{
    color: #2963DA;
    font-size: 35px;
    font-weight: 400;
}

.primeraSection{
    background-color: #06102D;
    margin: 0px 40px;
    display: flex;
    align-items: center;
}

.textoPrimeraSection{
    align-self: flex-start;
    margin: 40px 120px 40px 35px;
}

.textoPrimeraSection h2{
    margin-bottom: 40px;
}

.textoPrimeraSection p{
    font-size: 1.0625rem;
    line-height: 2;
}

.unetenos{
    font-size: 25px;
    color: #2963DA;
    text-decoration: underline;
    font-weight: 500;
}

.unetenos1{
    text-align: center;
    margin-top: 30px;
}

.imagenUno1{
    width: 100%;
    min-width: 380px;
    margin: 60px 20px 60px 0px;
}

.imagenUno{
    width: 100%;
}

.segundaSection{
    background-color: #06102D;
    width: 94%;
}

.segundaSection h2{
    text-align: center;
    font-size: 1.875rem;
    margin: 40px 20px;
}

.exploraCatalogo{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1;
    justify-content: center;
    justify-items: center;
    margin: 40px 20px 80px 20px;
}

.terceraSection{
    background-color: #06102D;
    margin: 0px 40px;
    display: flex;
    align-items: center;
}

.textoTerceraSection{
    margin: 40px 35px 40px 120px;
}

.textoTerceraSection h2{
    margin: 40px 0px 25px 0px;
}

.textoTerceraSection p{
    margin: 40px 0px;
    line-height: 2;
}

.enlace1{
    text-align: center;
}

.enlaceNewsletter{
    font-size: 25px;
    color: #2963DA;
    text-decoration: underline;
    font-weight: 500;
}

.imagenDos1{
    width: 100%;
    min-width: 380px;
    margin: 60px 0px 60px 20px;
}

.imagenDos{
    width: 100%;
}

.appInicio{
    background-color: #06102D;
    margin: 150px 40px;
    display: flex;
    align-items: center;
}

.textoAppInicio{
    margin: 40px 120px 40px 60px;
}

.textoAppInicio h2{
    font-weight: 300;
    font-size: 5rem;
}

.textoAppInicio p{
    line-height: 2;
    margin-top: 40px;
}

.botonesApps{
    margin: 50px 0px;
}

.appStore{
    background-color: #2963DA;
    padding: 15px 65px;
    border: none;
    border-radius: .5rem;
    font-size: 1.375rem;
    margin-right: 30px;
    font-family: "Montserrat", sans-serif;
}

.appStore:hover{
    background-color: #6e95e2;
}

.playStore{
    background-color: #2963DA;
    padding: 15px 65px;
    border: none;
    border-radius: .5rem;
    font-size: 1.375rem;
    font-family: "Montserrat", sans-serif;
}

.playStore:hover{
    background-color: #6e95e2;
}

.imagenTres1{
    width: 50%;
}

.imagenTres{
    width: 70%;
    min-width: 250px;
}

/* catalogo.html */

.selectoresCatalogo{
    display: flex;
    justify-content: space-between;
    margin: 70px 40px;
}

input{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 40px;
    font-size: 15px;
}

select{
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    font-size: 15px;
}

.tituloCatalogo{
    margin: 170px 0px 100px 0px;
}

.catalogo a h2{
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

.catalogo p{
    font-size: 13px;
    text-align: left;
}

.seccionCatalogo{
    display: flex;
    justify-content: space-evenly;
    margin: 60px 0px;
}

.seccionCatalogo article a img:hover{
    filter: brightness(1.18);
}

.infoCatalogo{
    margin-top: 20px;
}

.precio{
    color: #2963DA;
}

.footerCatalogo{
    margin-top: 100px;
}

/* quienes-somos.html */

.h1Quienes{
    font-size: 60px;
    font-weight: 100;
    display: flex;
    align-self: flex-start;
    margin: 100px 0px 30px 40px;
}

.primeraSectionQuienes{
    display: flex;
}

.primeraSectionQuienes p{
    font-size: 1.6875rem;
    margin: 50px 30px 60px 40px;
    line-height: 1.5;
}

.imagenQuienes{
    margin: 30px 40px 40px 40px;
    height: 360px;
    width: 760px;
}

.tituloCultura{
    font-size: 50px;
    font-weight: 100;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 120px 0px 60px 0px;
}

.tituloCultura h2{
    grid-column: 1 / 6;
    justify-self: center;
    align-self: center;
}

.mision{
    display: flex;
}

.mision h2{
    background-color: #06102D;
    width: 25%;
    height: 200px;
    font-size: 3.75rem;
    font-weight: 300;
    padding-top: 65px;
    margin: 60px 30px 30px 40px;
    border-radius: 12px;
    text-align: center;
}

.mision p{
    font-size: 1.875rem;
    background-color: #2963DA;
    height: 200px;
    width: 55%;
    padding-top: 50px;
    margin: 60px 0px 30px 0px;
    border-radius: 12px;
    text-align: center;
}

.vision{
    display: flex;
}

.vision h2{
    background-color: #06102D;
    width: 25%;
    height: 200px;
    font-size: 3.75rem;
    font-weight: 300;
    padding-top: 65px;
    margin: 60px 30px 80px 40px;
    border-radius: 12px;
    text-align: center;
}

.vision p{
    font-size: 1.875rem;
    background-color: #2963DA;
    height: 200px;
    width: 55%;
    padding-top: 65px;
    margin: 60px 0px 30px 0px;
    border-radius: 12px;
    text-align: center;
}

.sectionContactanos{
    background-color: #06102D;
    height: 500px;
    display: flex;
    margin: 80px 40px 300px 40px;
    align-items: center;
}

.textoContactanos{
    align-self: flex-start;
    margin: 60px 80px 50px 60px;
    line-height: 1.2;
}

.textoContactanos h2{
    font-size: 4.375rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 40px;
}

.textoContactanos p{
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 35px;
}

.textoContactanos a h3{ /* hablanos */
    color: #2963DA;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-align: center;
    text-decoration: underline;
}

.logoApp{
    margin-right: 60px;
}

/*Blog.html*/

.tituloBlog{
    font-size: 100px;
    margin-top: 150px;
}

.subtituloBlog{
    color: #2963DA;
    font-family: "Alumni Sans Inline One", sans-serif;
    font-size: 150px;
    font-weight: 100;
    margin: 150px 0px 200px 60px;
}

.articulosBlog{
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 70px;
}

.articulosBlog article{
    width: 300px;
}

.articulosBlog article a img:hover{
    filter: brightness(1.18);
}

.articulosBlog article h3{
    margin: 20px 0px 40px 0px;
    color: white;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.articulosBlog article p{
    margin-bottom: 100px;
}

.articulosBlog article a p{
    color: #2963DA;
    text-decoration: underline;
}

.textNewsletter{
    justify-content: center;
    text-align: center;
    margin: 200px 70px;
}

.textNewsletter h2{
    font-size: 2.5rem;
    font-weight: 400;
    margin: 200px 0px 50px 0px;
}

.botonAqui{
    background-color: #2963DA;
    padding: 10px 50px;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

.botonAqui:hover{
    background-color: #6e95e2;
}

/*novedades.html*/

.tituloNovedades{
    margin: 170px 0px 0px 0px;
}

.portadasNovedades{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0px 120px 0px;
}

.portadasNovedades a img:hover{
    filter: brightness(1.1);
}

.appLinkbooks{
    background-color: #06102D;
    display: flex;
    align-items: center;
    margin: 90px 40px;
}

.subtituloNov{
    font-size: 60px;
    font-weight: 100;
    margin: 50px 0px 40px 40px;
}

.appLinkbooks p{
    font-size: 25px;
    margin: 0px 80px 40px 40px;
}

.appStore2{
    background-color: #2963DA;
    padding: 15px 65px;
    border: none;
    border-radius: .5rem;
    font-size: 1.375rem;
    margin: 60px 35px 100px 40px;
    cursor: pointer;
}

.appStore2:hover{
    background-color: #6e95e2;
}

.playStore2{
    background-color: #2963DA;
    padding: 15px 65px;
    border: none;
    border-radius: .5rem;
    font-size: 1.375rem;
    margin: 60px 0px 100px 0px;
    cursor: pointer;
}

.playStore2:hover{
    background-color: #6e95e2;
}

.imagenNov{
    margin-right: 80px;
}

/*Footer*/

footer{
    font-size: .9375rem;
    background-color: #06102D;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enlacesFooter{
    display: flex;
    gap: 1.25rem;
    margin-left: 20px;
}

.enlacesFooter a:hover{
    color: #2963DA;
}

.derechosPagina{
    font-size: .9375rem;
}

.footerDos{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}






@media (max-width:1300px){
    .parrafoInicio{
        margin: 0px 50px 70px 50px;
    }

    .exploraCatalogo{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 50px;
        column-gap: 0px;
        margin: 90px 110px 100px 110px;
    }

    .exploraCatalogo a img{
        width: 200px;
    }
}






@media (max-width:1170px){
    .appInicio{
        flex-direction: column;
        align-items: center;
    }

    .textoAppInicio{
        margin: 40px 60px 40px 40px;
    }

    .textoAppInicio p{
        font-size: 25px;
    }

.botonesApps{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
}

    .imagenTres1{
        margin: 40px 0px;
        display: flex;
        justify-content: center;
    }

    .imagenTres{
        max-width: 300px;
        min-width: 170px;
    }

}





@media (max-width:1100px){

/*Header y barra de navegacion*/

header{
    height: 150px;
    position: static;
}

.navB{
    flex-direction: column;
    order: 1;
    gap: 5px;
    margin-left: 40px;
}

.logoNavegacion{
    order: 2;
    margin-right: 40px;
}

header div a img{
    width: 250px;
}

.botonIniciarSesion{
    display: none;
}


/*Index.html*/

/*Inicio*/

.textoInicio{
    margin: 80px 20px;
}

.textoInicio h1{
    margin: 50px 35px 70px 35px;
}

.parrafoInicio{
    margin: 0px 20px 70px 20px;
}

/*Segunda seccion*/

.segundaSection{
    width: 90%;
}

.exploraCatalogo{
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 40px;
}

.portada1{
    max-width: 170px;
}

.portada2{
    max-width: 170px;
}

.portada3{
    max-width: 170px;
}

.portada4{
    max-width: 170px;
}

.portada5{
    max-width: 170px;
}

.portada6{
    max-width: 170px;
}


    .textoTerceraSection{
        margin: 40px 35px 40px 90px;
    }
}




@media (max-width:980px){
    .textoPrimeraSection h2{
        font-size: 30px;
    }

    .textoTerceraSection{
        margin: 40px 35px 40px 80px;
    }

    .textoTerceraSection h2{
        font-size: 30px;
    }
}





@media (max-width:930px){
    .textoInicio h1{
        font-size: 55px;
        margin: 50px 40px 70px 40px;
    }

    .parrafoInicio{
        font-size: 20px;
    }

    .primeraSection{
        flex-direction: column;
        text-align: center;
        margin: 0px 60px;
    }

    .textoPrimeraSection{
        margin: 0px 0px 0px 0px;
    }

    .textoPrimeraSection h2{
        font-size: 38px;
        margin: 30px 45px;
    }

    .textoPrimeraSection p{
    font-size: 20px;
    margin: 20px 100px;
    }

    .unetenos{
        margin: 0px 0px;
    }


    .imagenUno1{
        width: 50%;
        margin: 50px 0px;
        min-width: 300px;
    }


/*Tercera seccion */

    .terceraSection{
        flex-direction: column-reverse;
        text-align: center;
        margin: 0px 60px;
    }

    .textoTerceraSection{
        margin: 0px 0px 0px 0px;
    }

    .textoTerceraSection h2{
        font-size: 38px;
        margin: 30px 50px;
    }

    .textoTerceraSection p{
        font-size: 20px;
        margin: 20px 100px;
    }

    .imagenDos1{
        width: 50%;
        margin: 40px 0px;
        min-width: 300px;
    }

    .imagenDos{
        width: 100%;
    }
}







@media (max-width:820px){
    .textoInicio img{
        width: 120px;
    }

    .textoInicio h1{
        font-size: 45px;
    }

    .parrafoInicio{
        font-size: 17px;
    }

    .botonRegistrate{
        padding: 10px 40px;
        font-size: 17px;
    }

    .textoPrimeraSection h2{
        font-size: 33px;
    }

    .textoPrimeraSection p{
        font-size: 17px;
    }

    .unetenos{
        font-size: 20px;
    }

    .exploraCatalogo{
        column-gap: 0px;
        row-gap: 20px;
    }

    .portada1{
        max-width: 140px;
    }

    .portada2{
        max-width: 140px;
    }

    .portada3{
        max-width: 140px;
    }

    .portada4{
        max-width: 140px;
    }

    .portada5{
        max-width: 140px;
    }

    .portada6{
        max-width: 140px;
    }

    .textoTerceraSection h2{
        font-size: 33px;
    }

    .textoTerceraSection p{
        font-size: 17px;
    }

    .enlaceNewsletter{
        font-size: 20px;
    }

    .textoAppInicio h2{
        font-size: 70px;
    }

    .textoAppInicio p{
        font-size: 20px;
    }

    .appStore{
        padding: 12px 50px;
    }

    .playStore{
        padding: 12px 50px;
    }

    footer{
        display: flex;
        justify-content: space-around;
    }

    .enlacesFooter{
        display: none;
    }

    .derechosPagina1{
        display: none;
    }

    .footerDos{
    display: flex;
    gap: 100px;
    }

}



@media (max-width:768px){
    .exploraCatalogo{
        column-gap: 0px;
        row-gap: 15px;
    }

    .botonesApps{
        gap: 15px;
    }

    .appStore{
        padding: 12px 40px;
        font-size: 15px;
    }

    .playStore{
        padding: 12px 40px;
        font-size: 15px;
    }
}



@media (max-width:620px){
    .primeraSection{
        margin: 0px 26px;
    }

    .textoPrimeraSection h2{
        margin: 30px 20px;
    }

    .textoPrimeraSection p{
    font-size: 19px;
    margin: 20px 20px;
    }


    .exploraCatalogo{
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 30px;
        margin: 70px 10px;
    }

    .portadaInicio3{
        display: none;
    }

    .portadaInicio5{
        display: none;
    }

    .terceraSection{
        margin: 0px 40px;
    }

    .textoTerceraSection h2{
        margin: 30px 20px;
    }

    .textoTerceraSection p{
        font-size: 19px;
        margin: 20px 20px;
    }

    .botonesApps{
        gap: 8px;
        margin: 50px 0px 40px 0px;
    }

    .appStore{
        padding: 12px 27px;
    }

    .playStore{
        padding: 12px 27px;
    }
}





@media (max-width:500px){
    .textoInicio img{
        width: 100px;
    }

    .textoInicio h1{
        font-size: 40px;
        margin: 40px 20px 60px 20px;
    }

    .botonRegistrate{
        padding: 8px 35px;
        font-size: 12px;
    }

    .exploraCatalogo{
        column-gap: 0px;
    }

    .portada1{
        max-width: 120px;
    }

    .portada2{
        max-width: 120px;
    }

    .portada4{
        max-width: 120px;
    }

    .portada6{
        max-width: 120px;
    }

    .textoAppInicio{
        margin: 40px 18px 40px 18px;
    }

    .textoAppInicio h2{
        font-size: 50px;
    }

    .botonesApps{
        gap: 4px;
        margin: 50px 0px 30px 0px;
    }

    .appStore{
        padding: 12px 22px;
    }

    .playStore{
        padding: 12px 22px;
    }
}




@media (max-width:400px){
    .textoInicio h1{
        font-size: 35px;
    }

    .textoInicio p{
        font-size: 16px;
    }

    .primeraSection{
        margin: 0px 20px;
    }

    .textoPrimeraSection h2{
        font-size: 30px;
    }

    .textoPrimeraSection p{
        font-size: 16px;
    }

    .imagenUno1{
        min-width: 250px;
    }

    .segundaSection h2{
        font-size: 25px;
        margin: 40px 10px;
    }

    .exploraCatalogo{
        grid-template-columns: repeat(2, 120px);
        margin: 30px 10px;
    }

    .portada1{
        max-width: 100px;
    }

    .portada2{
        max-width: 100px;
    }

    .portada4{
        max-width: 100px;
    }

    .portada6{
        max-width: 100px;
    }

    .terceraSection{
        margin: 0px 20px;
    }

    .textoTerceraSection h2{
        font-size: 30px;
    }

    .textoTerceraSection p{
        font-size: 16px;
    }

    .imagenDos1{
        width: 50%;
        margin: 40px 0px;
        min-width: 250px;
    }

    .imagenDos{
        width: 100%;
    }

    .appInicio{
        margin: 150px 20px;
    }

    .footerDos{
        gap: 50px;
        }
}





@media (max-width:350px){
    .textoInicio img{
        width: 90px;
    }

    .textoInicio h1{
        font-size: 30px;
    }

    .botonesApps{
        gap: 0px;
    }

    .appStore{
        padding: 10px 15px;
    }

    .playStore{
        padding: 10px 15px;
    }
}

/*    .primeraSection{
        flex-direction: column;
        text-align: center;
        height: 700px;
    }

    .textoPrimeraSection h2{
        font-size: 38px;
    }

.textoPrimeraSection p{
    font-size: 18px;
    margin-right: 100px;
    margin-left: 100px;
}

    .unetenos{
        margin: 0px 0px;
    }

    .imagenUno{
        margin: 30px 0px;
        width: 420px;
    }*/