@media (max-width: 820px) {
    /*----- INDEX.HTML -----*/

    /*Seccion inicio*/
    .textoInicio {
        img{
            width: 120px; 
        }
        h1{
            font-size: 2.8125rem;
        }
        .parrafoInicio{
            font-size: 1.0625rem;
        }
        .botonRegistrate{
            padding: 10px 40px;
            font-size: 1.0625rem;
        }
    }

    /*Primera seccion*/
    .primeraSection{
        .textoPrimeraSection{
            h2{
                font-size: 2.0625rem;
            }
            p{
                font-size: 1.0625rem;
            }
            .unetenos1{
                .unetenos{
                    font-size: 1.25rem; 
                }
            }
        }
    }

    /*Segunda seccion*/
    .segundaSection{
        .exploraCatalogo{
            column-gap: 0px;
            row-gap: 20px;
            .portadaInicio{
                .portada1{
                    max-width: 140px;
                }
            }
        }
    }

    /*Tercera seccion*/
    .terceraSection{
        .textoTerceraSection{
            h2{
                font-size: 2.0625rem;
            }
            p{
                font-size: 1.0625rem;
            }
            .enlace1{
                .enlaceNewsletter{
                    font-size: 1.25rem; 
                }
            }
        }
    }

    /*Seccion app*/
    .appInicio{
        .textoAppInicio{
            h2{
                font-size: 4.375rem; 
            }
            div{
                p{
                    font-size: 1.25rem;
                }
                .botonesApps{
                    .appStore{
                        padding: 12px 50px;
                    }
                    .playStore{
                        padding: 12px 50px; 
                    }
                }
            }
        }
    }

    /*---- FOOTER -----*/
    footer {
        display: flex;
        justify-content: center;
        .enlacesFooter{
            display: none;
        }
        .derechosPagina1{
            display: none;
        }
        .footerDos{
            display: flex;
            gap: 150px;
        }
    }
}