body{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    font-family: "Alfa Slab One", serif;
    font-size: 4.0625rem;
    font-weight: 200;
}

h2{
    color: white;
    font-family: "Alfa Slab One", serif;
}

p{
    color: white;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}